/* 
PALETA DE COLORES A UTILIZAR
1-ROJO>> FF1B1C
2-NARANJA>> FF7F11
3-NEGRO>> 262626
GRIS CLARO>> E2E8CE
GRIS OSCURO>> ACBFA4

FUENTES:
font-family: 'Battambang', cursive; PARA TEXTO
font-family: 'Oswald', sans-serif; PARA TITULOS
font-family: 'Rubik', sans-serif;
font-family: 'Bree Serif', serif;
*/

*{
    font-family: 'Battambang', cursive;
    font-size: 20px;
    color: #262626;
}
.clear-fcolour{
    color: #E2E8CE
}
.dark-fcolour{
    color: #262626;
}
.tx-claro{
    font-family: 'Rubik', sans-serif;
    color: white;
}
.tx-oscuro{
    font-family: 'Rubik', sans-serif;
    color: #262626;  
}
/*HEADER*/

.header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.logo {
    width: 40%;
}
.logo img{
    width: 100%;
}
.header-nav{
    justify-content: right;
}
.header-nav-text{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
}
.boton-turnero {
    margin-top: 1%;
    margin-left: 3%;
}
.boton-turnero a{
    color: white;
    background-color: #FF7F11;;
    border: 3px solid #FF7F11;;
    border-radius: 7%; 
    padding: 0;

}

/* MAIN */
/*PORTADA*/
.portada{
    height: 80vh; 
}
.car-conteiner{
    height: 100%;
}
.car-img-conteiner{
    height: 100%;
    overflow: hidden;
}

.car-text-le0{
       text-align: left;
    margin-left: 0;
    left: 0;
    background-color: #262626;
    padding: 0 0 2% 2%;
    bottom: 0;
    /* background-blend-mode: lighten; */
    opacity: 80%;
    width: 100%;

}
.car-text-le0 h5{
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 47px;
    padding: 0;
    margin: 0;
    color: #E2E8CE;
}
.car-text-le0 p{
    font-family: 'Rubik variant1', sans-serif;
    /* text-decoration: solid; */
    /* font-stretch: normal; */
    /* font-weight: 300; */
    font-style: italic;
    font-size: 28px;
    padding: 0;
    margin: 0;
    color: #E2E8CE;
}

.clear-fcolour{
    color: #E2E8CE
}
.dark-fcolour{
    color: #262626;
}

/*ARTICULOS*/
.articulos{
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #FF7F11;
    padding: 3% 5%;
}
.articulos h5{
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    font-style: normal;
    color: #E2E8CE;
    grid-area: main-tit;
    margin-left: 2%;
}
.art-ord{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 4em 1fr;
    grid-template-areas:
        'main-tit main-tit main-tit'
        'subar0 subar1 subar2';

}
.subart-gen{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5%;
}
.subarticulo0{
    grid-area: subar0;
}
.subarticulo1{
    grid-area: subar1;
}
.subarticulo2{
    grid-area: subar2;
}
.subart--tit{
    margin: 2px 0;
    text-align: center;
    line-height: 1em;
    font-size: 1.5em;
    text-decoration: solid;
    padding: 0 10%;
    font-family: 'Bree Serif', serif;
    color: #E2E8CE;
}
.subart--tit:hover{
    text-decoration: underline;
}
.imgart{
    width: 100%;
    height: 70%;
    margin: 0;
    border-radius: 15%;
}
/*COBERTURAS*/
.coberturas{
        display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* */
    background-color: #E2E8CE;
    
}
.coberturas h2{
    font-family: 'Rubik', sans-serif; 
    font-size: 40px;
    color: #262626; 
}
.coberturas strong{
    font-family: 'Rubik', sans-serif; 
    font-size: 20px;
    color: #262626; 
}
.coberturas-acc p{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 300;

}

/* FOOTER*/
.footer{
    text-align: center;
    background-color: #E2E8CE;

}

/************************* NOSOTROS**************************/
.nos-portada{
    padding: 0;
    margin: 0;
}
.nos-portada h1{
    position: absolute;
    top: 450px;
    left: 3%;
    font-family: 'Rubik', sans-serif;
    color: #FF7F11;
}
.nos-portada p{
    position: absolute;
    top: 510px;
    left: 3%;
    font-family: 'Rubik', sans-serif;
    font-style: italic;
    color: #FF7F11;
    font-size: 30px;
}
.nos-portada-img{
    width: 100%;
    height: auto;
}
/*MAIN NOSOTROS*/
.nos-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-template-areas: 
    'mv mv cr1'
    'cr2 cr3 cr3'
    'cr2 cr4 cr4';
    
}
.nos-main-mision{
    background-color: #FF1B1C;
    margin: 0;
    grid-area: mv;
    padding: 3% 10%;
}
.nos-main-mision p{
    font-size: 1rem;
}

.nos-main-cronologia-1{
    background-color: #E2E8CE;
    margin: 0;
    grid-area: cr1;
}
.nos-main-cronologia-1 img{
    width: 100%;
}
.nos-main-cronologia-1 h3{
    padding: 7% 5% 0 5%;
}
.nos-main-cronologia-1 p{
    padding: 0 5% 0 5%;
}
.ns-mn-crn1-tx{
    display: flex;
    flex-direction: column;
    padding: 10% 5% 5% 5%;
}

.nos-main-cronologia-2{
    background-color: #FF7F11;
    margin: 0;
    grid-area: cr2;
}
.nos-main-cronologia-2 h3{
    padding: 10% 5% 2% 5%;
}
.nos-main-cronologia-2 p{
    padding: 5% 7%;
}
.nos-main-cronologia-2 img{
    width: 100%;
}
.nos-main-cronologia-3{
    background-color: #262626;
    margin: 0;
    grid-area: cr3;
}
.nos-main-cronologia-3 h3{
    padding: 2% 7% 0% 7%;
}
.nos-main-cronologia-3 p{
    padding: 0 7%;
}
.nos-main-cronologia-3 img{
    width: 100%;
}
.nos-main-cronologia-4{
    background-color: #ACBFA4;
    margin: 0;
    grid-area: cr4;
}
.nos-main-cronologia-4 h3{
    padding: 2% 7% 0% 7%;
}
.nos-main-cronologia-4 p{
    padding: 1% 7%;
}
.nos-main-cronologia-4 img{
    width: 100%;
}

/*----------------SERVIVICOS----------*/

.sv-dspl{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
    grid-template-areas: 
    'dp1 dp2 dp3'
    'dp4 dp5 dp6' ;
    margin: 0;
    padding: 0;
    background-color: #FF7F11;
}
.sv-dspl-card{
    grid-area: dp1;
}
.sv-dspl-card img{
    width: 100%;
}
.sv-dspl-clin{
    grid-area: dp2;
}
.sv-dspl-clin img{
    width: 100%;
}
.sv-dspl-obst{
    grid-area: dp3;
}
.sv-dspl-obst img{
    width: 100%;
}
.sv-dspl-odon{
    grid-area: dp4;

}
.sv-dspl-odon img{
    width: 100%;
}
.sv-dspl-oft{
    grid-area: dp5;
}
.sv-dspl-oft img{
    width: 100%;
}
.sv-dspl-ped{
    grid-area: dp6;
}
.sv-dspl-ped img{
    width: 100%;
}
.sv-dspl-cd{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4% 7%;
    color: #E2E8CE;
}
.sv-dspl-cd img{
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;  
}
.sv-dspl-cd a{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 1%;
}
.sv-dspl-cd:hover {
    border: 3px solid #E2E8CE;
    border-radius: 4%;
}

.sv-acc{
    margin: 2% 10%;
    padding: 0;
}
.sv-acc-tx h2{
    font-family: 'Rubik', sans-serif;
    color: #262626;
}
.sv-acc-tx p{
    font-family: 'Bree Serif', serif;
    color: #262626;
    font-size: 1rem;
}

/*----------CONTACTO----------*/
.ct-main-tx{
    padding: 2% 8% 0 9%;
    margin: 0;
}
.ct-main-map{
    width: 100%;
    padding: 2% 10%;
    margin: 0;
}
.ct-main-map iframe{
    width: 100%;
}

/*----------TURNERO----------*/
.tr-main{
}
.tr-main-form {
    padding: 2% 20%;
    background-color: #E2E8CE;
}
.tr-main-form h4{
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}
.tr-form{
    display: flex;
    flex-direction: column;
    margin: 2% 15%;
}
.tr-form label select{
    font-size: 1.4rem;
}
.tr-form input{
    font-size: 1.4rem;
    margin: 1% 0;
}
    
/*################ M O B I L E ##################*/

@media screen and (max-width: 500px){
    
    /* Header */
    .header{
        width: 100%;
    }
    .logo{
        width: 40%;
    }
    .logo img{
        display: none;
    }
    /*INDEX Portada*/
    .portada{
        height: 300px;
        margin-top: 60px;
    }
    
    .car-conteiner{
        height: 100%;
    }
    .car-img-conteiner{
        width: auto;
        overflow: hidden;
        height: 100%;
    }
    .car-text-le0{
        height: 25%;
    }
    .car-text-le0 h5{
        font-size: 0.9rem;
        padding: 2% 2% 0 0;
        margin: 0;
        width: 100%;
    }
    .car-text-le0 p{
        font-size: 0.6rem;
        margin: 0 2% 0 0;
        width: 100%;
    }
    /*INDEX Articulos*/
    .art-ord{
        display: flex;
        padding: 2% 7%;
    }
    .articulos h5{
        font-size: 1.5rem;
        margin: 2% 4%;
    }
    .subart--tit{
        font-size: 1.3rem;
    }
    .subart-gen{
        margin: 2% 5%;
    }
    /*NOSOTROS */
    .nos-portada{
        margin-top: 60px;
    }
    .nos-portada h1{
        top: 4rem;
    }
    .nos-portada p{
        top: 6rem;
        line-height: 1.2rem;
        font-size: 1.3rem;
    }
    .nos-main{
        display: flex;
        flex-direction: column;
    }
    .nos-main-cronologia-1{
        padding: 3% 10%;
    }
    .nos-main-cronologia-2{
        padding: 3% 10%;
    }
    .nos-main-cronologia-3{
        padding: 3% 10%;
    }
    .nos-main-cronologia-4{
        padding: 3% 10%;
    }
}