//SIMPLES
@mixin pad-marg ($padding, $margin){
    padding: $padding;
    margin: $margin;
}
@mixin w-h ($w,$h){
    width: $w;
    height: $h;
}
@mixin disp-flex ($direction){
    display: flex;
    flex-direction: $direction;
}
@mixin txt-conf ($txcolor){
    color: $txcolor;
    font-family: $font-rubik;
}