//VARIABLES

//COLORES
$rojo: #FF1B1C;
$naranja: #FF7F11;
$negro: #262626;
$light-grey: #E2E8CE;
$dark-gray: #ACBFA4;
$blanco: white;

//FUENTES
$font-battambang: 'Battambang', cursive;
$font-oswald: 'Oswald', sans-serif;
$font-rubik: 'Rubik', sans-serif;
$font-bree: 'Bree Serif', serif;