/*TURNERO*/
.turn{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'complem form' ;
    margin-top: 80px;
    &__complem{
        grid-area: complem;
        background-image: url('../assets/images/turn-comp.jpg');
        background-position: center center;
        background-size: cover;
        @include pad-marg (0,0);
        &__div{
            position: sticky;
            top: 200px;
            @include pad-marg(2% 5%, 0);
            h3{
                @include txt-conf($blanco);
                font-size: 2rem;
            }
            p{
                @include txt-conf($blanco);
                font-size: 1rem;  
            }
        }
    }
    &__form{
        padding: 2% 20%;
        background-color: $blanco;
        display: flex;
        flex-direction: column;
        h4{
            font-size: 1.5rem;
            @include txt-conf ($negro);
            text-align: center;   
        }
        input{
            font-size: 1.4rem;
            margin: 1% 0; 
            @include txt-conf ($negro);
        }
        label{
            select{
                font-size: 1.4rem;
            }
        }
        &__inp{
            select{
                @include txt-conf ($negro);
            }
            label{
                @include txt-conf ($negro);
            }
            button{
                @include txt-conf ($negro);
            }
            &__sel{
                option{
                    @include txt-conf ($negro);
                }
            }
        }
    }
    &__form-ord{
        grid-area: form;
    }
}